<div class="l-separator l-section-gap"><span></span></div>


<!-- l-container -->
<section class="top-shop l-container l-section-gap--sm">
  <div class="top-shop__body">
    <h2 class="c-section-title c-section-title--en c-section-title--start">
      <span class="c-section-title__main">SHOP</span>
    </h2>

    <p class="top-shop__businessday">営業は不定休。<br>Instagram、 Google map にて<br>お知らせします。</p>

    <address class="top-shop__address">〒763-0071 香川県丸亀市田村町 1708-58<br>1708-58 Tamuracho, Marugame-shi 763-0071</address>
  
    <ul class="c-link-list c-link-list--sns">
      <li><a href="#" target="_blank" rel="noopener noreferrer">
        <span class="c-icon"><svg aria-hidden="true"><use href="#icon-instagram"></use></svg></span>
        Instagram
      </a></li>
      <li><a href="#" target="_blank" rel="noopener noreferrer">
        <span class="c-icon"><svg aria-hidden="true"><use href="#icon-location"></use></svg></span>
        Google map
      </a></li>
    </ul>
  </div>

  <div class="top-shop__image">
    <img src="{{ 'sample-img02.jpg' | asset_url }}" alt="ふじた商店の外観と店主" loading="lazy">
  </div>
</section>
<!-- // l-container -->