<!-- top-gallery -->
<div class="top-gallery l-section-gap--sm">
  <div class="c-image-strip c-image-strip--gallery swiper">
    <div class="swiper-wrapper">
      <div class="c-image-strip__item swiper-slide"><img src="{{ 'sample-img01.jpg' | asset_url }}" alt="ふじたしょうてんのイメージ画像" loading="lazy"></div>
      <div class="c-image-strip__item swiper-slide"><img src="{{ 'sample-img02.jpg' | asset_url }}" alt="" loading="lazy"></div>
      <div class="c-image-strip__item swiper-slide"><img src="{{ 'sample-img01.jpg' | asset_url }}" alt="" loading="lazy"></div>
      <div class="c-image-strip__item swiper-slide"><img src="{{ 'sample-img02.jpg' | asset_url }}" alt="" loading="lazy"></div>
    </div>
  </div>
</div>
<!-- // top-gallery -->