<!-- top-gallery -->
<div class="top-gallery l-section-gap--lg">
  <div class="c-image-strip c-image-strip--gallery swiper">
    <div class="swiper-wrapper">
      <div class="c-image-strip__item swiper-slide"><img src="/fujita/assets/images/sample-img02.jpg" alt="ふじたしょうてんのイメージ画像" loading="lazy"></div>
      <div class="c-image-strip__item swiper-slide"><img src="/fujita/assets/images/sample-img02.jpg" alt="" loading="lazy"></div>
      <div class="c-image-strip__item swiper-slide"><img src="/fujita/assets/images/sample-img02.jpg" alt="" loading="lazy"></div>
      <div class="c-image-strip__item swiper-slide"><img src="/fujita/assets/images/sample-img02.jpg" alt="" loading="lazy"></div>
    </div>
  </div>
</div>
<!-- // top-gallery -->