<!-- l-container -->
<section class="top-about l-container l-section-gap">
  <div class="top-about__logo"><a href="/fujita/" class="c-logo"><span class="u-visually-hidden">地域に出会う商店 ふじたしょうてん</span></a></div>

  <h2 class="c-section-title">
    <span class="c-section-title__lead">地域に出会う商店</span>
    <span class="c-section-title__main">ふじたしょうてん</span>
  </h2>

  <div class="top-about__body">
    <p>地域に出会う商店 ふじたしょうてんは、<br>
    店主の藤田一輝が2020年10月8日に「地域の面白さを伝える場所をつくり、<br class="u-br-hide-at-sm">
    地域に人の関心が集まる焦点をつくる」というコンセプトで立ち上げた<br class="u-br-hide-at-xs">
    <span class="u-dp--ib">小さなアンテナショップ。</span></p>
  </div>

  <div class="top-about__link"><a href="/fujita/about/" class="c-button">
    ABOUT
    <span class="c-icon c-icon--chevron-right">
      <svg aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
    </span>
  </a></div>
</section>
<!-- // l-container -->
