
  <div class="l-separator l-section-gap"><span></span></div>


  <section class="c-card-list c-card-list--slider c-card-list--slider-sm l-section-gap" aria-labelledby="recommend-title">
    <div class="c-card-list__title c-card-list__title--has-badge">
      <!-- バッジ -->
      <span class="c-badge-circle c-badge-circle--recommend">
        <svg viewBox="0 0 100 100" focusable="false" aria-hidden="true">
          <defs>
            <path id="c-badge-circle-path-recommend" d="M 50,50 m -40,0 a 40,40 0 1,1 80,0 a 40,40 0 1,1 -80,0" />
          </defs>
          <text class="c-badge-circle__text">
            <textPath href="#c-badge-circle-path-recommend" startOffset="50%" text-anchor="middle">RECOMMEND ! RECOMMEND ! RECOMMEND ! RECOMMEND ! </textPath>
          </text>
        </svg>

        <h2 id="recommend-title" class="c-badge-circle__label">おすすめ<br>商品</h2>
      </span>
      <!-- // バッジ -->
    </div>

    <div class="c-slider">
      <div class="swiper">
        <ul class="c-card-list__list swiper-wrapper">

          <!-- 1枚目 -->
          <li class="c-card-list__item swiper-slide">
            <a href="/fujita/shop/item.html" class="c-product-card">
              <figure>
                <span class="c-product-card__image c-hover-image--frame">
                  <img src="/fujita/assets/sample-img02.jpg" alt="Cinamon Roast（浅煎り）" loading="lazy" >
                </span>
                <figcaption class="c-product-card__body">
                  <h3 class="c-product-card__name">1 Cinamon Roast（浅煎り）</h3>
                  <p class="c-product-card__price">¥1,000〜¥2,700</p>
                </figcaption>
              </figure>
            </a>
          </li>

          <!-- 2枚目 -->
          <li class="c-card-list__item swiper-slide">
            <a href="/fujita/shop/item.html" class="c-product-card">
              <figure>
                <span class="c-product-card__image c-hover-image--frame">
                  <img src="/fujita/assets/sample-img02.jpg" alt="Cinamon Roast（浅煎り）" loading="lazy" >
                </span>
                <figcaption class="c-product-card__body">
                  <h3 class="c-product-card__name">2 Cinamon Roast（浅煎り）</h3>
                  <p class="c-product-card__price">¥1,000〜¥2,700</p>
                </figcaption>
              </figure>
            </a>
          </li>

          <!-- 3枚目 -->
          <li class="c-card-list__item swiper-slide">
            <a href="/fujita/shop/item.html" class="c-product-card">
              <figure>
                <span class="c-product-card__image c-hover-image--frame">
                  <img src="/fujita/assets/sample-img02.jpg" alt="Cinamon Roast（浅煎り）" loading="lazy" >
                </span>
                <figcaption class="c-product-card__body">
                  <h3 class="c-product-card__name">3 Cinamon Roast（浅煎り）</h3>
                  <p class="c-product-card__price">¥1,000〜¥2,700</p>
                </figcaption>
              </figure>
            </a>
          </li>

          <!-- 4枚目 -->
          <li class="c-card-list__item swiper-slide">
            <a href="/fujita/shop/item.html" class="c-product-card">
              <figure>
                <span class="c-product-card__image c-hover-image--frame">
                  <img src="/fujita/assets/sample-img02.jpg" alt="Cinamon Roast（浅煎り）" loading="lazy" >
                </span>
                <figcaption class="c-product-card__body">
                  <h3 class="c-product-card__name">4 Cinamon Roast（浅煎り）</h3>
                  <p class="c-product-card__price">¥1,000〜¥2,700</p>
                </figcaption>
              </figure>
            </a>
          </li>

          <!-- 5枚目 -->
          <li class="c-card-list__item swiper-slide">
            <a href="/fujita/shop/item.html" class="c-product-card">
              <figure>
                <span class="c-product-card__image c-hover-image--frame">
                  <img src="/fujita/assets/sample-img02.jpg" alt="Cinamon Roast（浅煎り）" loading="lazy" >
                </span>
                <figcaption class="c-product-card__body">
                  <h3 class="c-product-card__name">5 Cinamon Roast（浅煎り）</h3>
                  <p class="c-product-card__price">¥1,000〜¥2,700</p>
                </figcaption>
              </figure>
            </a>
          </li>

          <!-- 6枚目 -->
          <li class="c-card-list__item swiper-slide">
            <a href="/fujita/shop/item.html" class="c-product-card">
              <figure>
                <span class="c-product-card__image c-hover-image--frame">
                  <img src="/fujita/assets/sample-img02.jpg" alt="Cinamon Roast（浅煎り）" loading="lazy" >
                </span>
                <figcaption class="c-product-card__body">
                  <h3 class="c-product-card__name">6 Cinamon Roast（浅煎り）</h3>
                  <p class="c-product-card__price">¥1,000〜¥2,700</p>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>

      <div class="c-slider__controls l-container">
        <button class="c-slider__button c-slider__button--prev" type="button" aria-label="前の画像" >
          <span class="c-icon c-icon--chevron-right">
            <svg aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
          </span>
        </button>
        <button class="c-slider__button c-slider__button--next" type="button" aria-label="次の画像" >
          <span class="c-icon c-icon--chevron-right">
            <svg aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
          </span>
        </button>
      </div>
    </div>
  </section>
